<!doctype html>
<html class="no-js" lang="en">
    <head>
        {% block metatags %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block genericlinks %}{% endblock %}
        
        {% block earlyjavascripts %}{% endblock %}

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
