html,body {
    height: 100%;
}

.height33{
    height: 33%;
}

.main{
    height: 40%;
    max-height: 40%;
}

.margintop5 {
    margin-top: 5%;
}

.form__input-file--hidden{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

label strong{
    cursor: pointer;
}

.background{
  background-color: #96a2ff;
}

.form {
    overflow: hidden;
    outline: 2px dashed #92b0b3;
}


#results {
    overflow:auto;
}

.card-max{
    max-height: 15rem;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-left: 16px solid red;
  border-right: 16px solid red;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

